@model Blog.WebUI.ViewModels.ArticleViewModels.ArticleViewModel

@{
    ViewBag.Title = "Details";
}

<div class="details">
    <h2 class="article-header">@Model.Name</h2>
    <p class="publish-date">@Model.PublishDate</p>
    <p class="article-content">@Model.Text</p>
    <p>Tags: 
        <strong>
            @foreach (var tag in Model.Tags)
            {
                <span>@tag.Name</span>
            }
        </strong>
    </p>
</div>
<p>
    @Html.ActionLink("Back to List", "Index", "Articles")
</p>

<link rel="stylesheet" href="~/Content/article-details.css"/>
