@model Blog.Models.Article

<div class="article">
    <div class="article-header">
        <p class="article-name">@Html.ActionLink(Model.Name, "Details", new { id = Model.Id })</p>
        <p class="publish-date">@Model.PublishDate.ToString("d")</p>
    </div>
    <div class="article-content">
        <p>@Model.Text</p>
    </div>
    <div>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) | 
        @Html.ActionLink("Delete", "Delete", new { id = Model.Id })
    </div>
</div>