
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <img alt="Brand" src="https://lut.im/7trApsDX08/GeilMRp1FIm4f2p7.png">
            <h1>.NET blog</h1>
        </div>
    </div>
    <div class="container body-content">
        <div class="content-col main-body">
            @RenderBody()
        </div>
        <div class="right-sidebar content-col">
            @Html.Partial("_MenuPartial")
            @RenderSection("Vote", false)
        </div>
        <div class="clearfix"></div>
        <hr />
    </div>
    <footer>
        <p>
            <a href="javascript:window.scrollTo(0, 0);">Back to top</a>
        </p>
        <p>&copy; @DateTime.Now.Year – Blog</p>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
