@model Blog.WebUI.ViewModels.QuestionariesViewModels.FillingQuestionaryViewModel

@using (Html.BeginForm("Index", "Questionary", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Write your comment</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AgeRange.Value, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @foreach (var age in Model.AgeRange.ValuesAndLabels)
                {
                    @Html.RadioButtonFor(model => model.AgeRange.Value, age.Key, htmlAttributes: new { id = age.Key })
                    <label for="@age.Key">@age.Value</label>
                }
            </div>
        </div>

        <div class="form-group">
            @Html.Label("What are your interesting on this blog?", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @foreach (var interesting in Model.Interestings.ValuesAndLabels)
                {
                    <input type="checkbox" name="interestingsValues" value="@interesting.Key" />
                    @Html.Label($"{interesting.Value}")
                }
                @*@Html.CheckBoxFor(model => model.Interestings.ManyCodeExamples)
                @Html.LabelFor(model => model.Interestings.ManyCodeExamples)

                @Html.CheckBoxFor(model => model.Interestings.ExpiriencedAuthors)
                @Html.LabelFor(model => model.Interestings.ExpiriencedAuthors)

                @Html.CheckBoxFor(model => model.Interestings.RelevantTechnologies)
                @Html.LabelFor(model => model.Interestings.RelevantTechnologies)

                @Html.CheckBoxFor(model => model.Interestings.Other)
                @Html.LabelFor(model => model.Interestings.Other)*@
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.HowLongReadBlog.Value, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @foreach (var age in Model.HowLongReadBlog.ValuesAndLabels)
                {
                    @Html.RadioButtonFor(model => model.HowLongReadBlog.Value, age.Key, htmlAttributes: new { id = age.Key })
                    <label for="@age.Key">@age.Value</label>
                }
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Wishes, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Wishes, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Wishes, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@section Scripts
{
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        $(document).ready(function() {
            $("input[type=radio]:first-child").attr("selected", "");
        });
    </script>
}